.Character {
  width: var(--card-size);
  padding: 0 calc(var(--spacer) / 2);
  margin-bottom: var(--spacer);
}

.Content {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--gray);
}

.Body {
  padding: var(--spacer);
}