.Button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  background-color: transparent;
}

.Default {
  color: var(--light);
  border-radius: 2px;
  background-color: var(--primary);
  transition: background-color 0.3s ease-in;
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.Default:hover,
.Default:focus {
  background-color: var(--primary-darken);
}

.Link {
  color: var(--primary);
  transition: color 0.3s ease-in;
  text-decoration: underline;
  padding: 0;
}

.Link:hover,
.Link:focus {
  color: var(--primary-darken);
}