:root {
  --dark: #24292E;
  --gray: #3c3e44;
  --gray-lighten: #60636d;
  --light: #ffffff;
  --primary: #ff9800;
  --primary-darken: #cc7a00;
  --container-width: 680px;
  --page-title-size: 1rem;
  --spacer: 24px;
}

@media screen and (min-width: 1024px) {
  :root {
    --page-title-size: 2rem;
  }
}

@media screen and (min-width: 1366px) {
  :root {
    --page-title-size: 3rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}